/***************************************************************************************************************
||||||||||||||||||||||||||||       Creative Handles              ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************



* 1. common styles
* 2. header styles
* 3. slider styles
* 4. Logo section  styles
* 5. services Section  styles
* 6. Blue button  styles
* 7. Novinky section  styles
* 8. contact section  styles
* 9. footer section  styles
* 10. Media Queries styles



****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/

body {
    font-family: 'Hind', sans-serif;
    overflow-x: hidden;
}

body.home {
    background: url(../images/homeBg.png);
    height: 1015px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
}

section {
    overflow: hidden;
}


/* ============Header section================ */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-toggle.active {
    color: #1a94d3;
}

.dropdown-toggle.active::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 3px;
    background-color: #1a94d3;
    position: absolute;
    right: 20px;
    top: -5px;
}

nav.navbar.navbar-expand-lg {
    padding: 0;
}

.top-hed a {
    color: #252525;
    font-size: 16px;
    padding-left: 20px;
}

.top-hed {
    width: 100%;
    text-align: right;
    padding: 10px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.top-barbg {
    background-color: #ebebeb;
}

.menu-bg {
    background-color: #fff;
}

.header-mrnu {
    width: 100%;
}

.menu-link li a {
    color: #363636;
    font-size: 17px;
}

.menu-link li {
    padding: 0 20px;
}

.btn-menu {
    border-radius: 4px 5px 5px 4px;
    background-color: #1a94d3;
    color: #fff !important;
    padding: 4px 11px;
    height: 33px;
    box-sizing: border-box;
}

.menu-link li {
    position: relative;
}

.menu-link li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 23px;
    background-color: #898989;
    top: 0px;
    right: 0;
    position: absolute;
}

.menu-link li:last-child:after {
    display: none;
}

.container.menu-bg {
    padding: 20px 50px;
    z-index: 9;
}

.sub-menu {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.32);
    border-radius: 4px 5px 5px 4px;
}

.sub-menu li {
    border-bottom: 1px solid #959595;
    margin: 6px 0;
}

.sub-menu li:after {
    display: none;
}

.sub-menu li a:hover {
    background: none;
    color: #1a93d2;
}

.dropdown-toggle::after {
    display: none;
}


/* ============End Header section================ */


/* ============slider section================ */

.owl-nav {
    display: none;
}

.banner-txt .title h1 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 200;
}

.banner-txt h3 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
}

.banner-main {
    margin: 80px 55px 0;
}

.bottom-main {
    position: relative;
}

.bottom-main .bott-img {
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    max-width: 1920px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.jsmedistributo {
    background-color: #1a93d2;
    padding: 46px 0 0;
    overflow: hidden;
}

.title.jsmedistributo-title h1 {
    color: #fff;
}

.title.jsmedistributo-title h1::before {
    background-color: #fff;
}

.com-details {
    text-align: center;
}

.com-details p {
    font-size: 17px;
    color: #fff;
    margin: 29px 0;
}

.title.jsmedistributo-title {
    margin-bottom: 32px;
}

.com-det-btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 14px 30px 14px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.com-det-btn:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #ffff;
    color: #1a93d2;
}

.distributo-rgt .col-md-4 {
    border-right: 1px solid #fff;
}

.distributo-rgt .col-md-4:last-child {
    border: none;
}

section.slider:after {
    content: "";
    display: block;
    background: url(../images/blueShapeBottom.png);
    width: 100%;
    height: 80px;
    background-size: 100% 100%;
}

a.banner-btn {
    background: #1a93d2;
    color: #fff;
    padding: 15px 40px 15px 40px;
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

a.banner-btn:hover {
    background: none;
    border: 2px solid #1a93d2;
    color: #1a93d2;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}


/* ============End slider section================ */


/* ============Logo section================ */

section.klimax {
    padding: 60px 0;
}

.title h1 {
    color: #252525;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.title h1:before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 6px;
    background-color: #1a94d3;
    position: absolute;
    right: -25px;
    top: -15px;
}

.red-al span {
    color: #ed1c24;
    font-weight: bold;
    padding-top: 17px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px
}

.logo {
    padding: 20px;
    text-align: center;
}

.all-logo .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-logo {
    text-align: center;
    margin: 0 auto;
}

.all-logo {
    margin: 74px 0 22px;
}


/* ============End-Logo section================ */


/* ============services section================ */

section.poskyt-section-three {
    background: #ebebeb;
    padding: 50px 0;
}

.poskytujeme-dec {
    padding-left: 30px;
}

.poskytujeme-dec p {
    font-size: 19px;
    color: #252525;
    padding-bottom: 11px;
    line-height: 25px;
    font-weight: 300;
}

.poskytujeme-dec span {
    color: #1a93d2;
}

.services-icons {
    text-align: center;
    border-right: 1px solid #898989;
    margin: 20px 0;
    padding: 18px 0 0;
}

.services-icons p {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 20px;
    text-transform: uppercase;
}

.poskytujeme-lft {
    padding: 50px 0;
}

.services-icons.mid-tp:after {
    content: "";
    position: absolute;
    border-top: 1px solid #898989;
    width: 92%;
    left: 0;
    bottom: -20px;
}

.services-icons.mid-tp:before {
    content: "";
    position: absolute;
    border-top: 1px solid #898989;
    width: 92%;
    left: 0;
    top: -20px;
}

.services-icons.mid-tp {
    position: relative;
}

.rgt-brd {
    border-right: none;
}

.all-services .services-icons {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 49%;
    margin: 0 auto;
    border-bottom: 1px solid #898989;
    border-right: 1px solid #898989;
    position: relative;
}

.all-services .services-icons .services-img {
    display: table;
    height: 90px;
    margin: 25px auto 5px;
}

.all-services .services-icons span {
    color: #252525;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

.all-services .services-icons:nth-of-type(odd):after {
    content: "";
    display: block;
    position: absolute;
    background: #ebebeb;
    width: 45px;
    height: 45px;
    right: -23px;
    bottom: -22px;
    z-index: 1;
}

.all-services .services-icons:nth-of-type(even) {
    border-right: 0px;
}

.all-services .services-icons:nth-last-child(-n+2) {
    border-bottom: 0px;
}


/* ============End services section================ */


/* ============-Blue-btn section================ */

.nase {
    background: #1a94d3;
    padding: 41px 0;
    text-align: center;
}

.nase-btn a {
    background: #fff;
    padding: 20px 60px 20px 60px;
    width: max-content;
    display: table;
    margin: 0 auto;
    font-size: 21px;
    border-radius: 5px;
    color: #1a93d2;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.nase-btn a:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}


/* ============End-Blue-btn section================ */


/* ============-Novinky section================ */

section.novinky-top {
    padding: 62px 0;
}

.toshiba-title h3 {
    color: #1a93d2;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 35px;
}

.toshiba-title p {
    font-size: 16px;
    font-weight: 300;
    color: #252525;
}

.novinky-btn {
    border: 2px solid #1a93d2;
    padding: 12px 35px 12px 35px;
    display: inline-block;
    float: right;
    font-size: 17px;
    color: #1a93d2 !important;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 30px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.novinky-btn:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    cursor: pointer;
}


/* ============End-Five section================ */


/* ============contact section================ */

section.cont-part {
    padding: 15px 0 32px;
}

.cont-details {
    text-align: center;
    padding: 40px 0;
}

.cont-details span {
    font-size: 35px;
    color: #252525;
    font-weight: bold;
    padding-left: 35px;
}

.rgt-border {
    border-right: 1px solid #959595;
}


/* ============End-contact section================ */


/* ============-footer section================ */

.footer-top {
    background: #03051e;
    padding: 50px 0 0;
}

.white-logo {
    text-align: center;
}

.white-logo p {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    padding: 25px 10px;
}

.footer-menu h6 {
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    min-height: 55px;
}

.footer-menu a {
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    display: table;
    font-weight: 300;
    padding: 3px 0;
}

.footer-menu p {
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    display: table;
    font-weight: 300;
    padding: 3px 0;
    line-height: 25px;
}

.social-footer li {
    list-style: none;
}

.social-footer li a {
    list-style: none;
    border: 1px solid #ffff;
    margin: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

section.sub-footer {
    padding: 22px 0 19px;
    text-align: center;
}

section.sub-footer p {
    margin: 0;
}


/* ============End-footersection================ */


/* ============ Media Queries================ */

@media only screen and (max-width: 1199px) {
    .container.menu-bg {
        padding: 20px;
    }
    .menu-link li {
        padding: 0 12px;
    }
    .menu-link li a {
        font-size: 16px;
    }
    a.banner-btn {
        margin: 0 0 42px;
    }
}

@media only screen and (max-width: 991px) {
    .top-hed {
        display: none;
    }
    ul.navbar-nav.navbar-right.menu-link {
        margin: 20px 0;
    }
    ul.navbar-nav.navbar-right.menu-link li {
        padding: 10px 0;
    }
    .menu-link li:after {
        display: none;
    }
    .title h1:before {
        display: none;
    }
    .banner-txt .title h1 {
        font-size: 28px;
        line-height: initial;
    }
    .banner-txt h3 {
        font-size: 28px;
        line-height: initial;
    }
    .bottom-main .bott-img {
        bottom: -2px;
    }
    .poskyt-section-three .col-md-6 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .novinky-top .col-md-7,
    .novinky-top .col-md-5 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .novinky-imf {
        text-align: center;
        margin: 20px 0;
    }
    .cont-part .col-md-6 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .poskytujeme-dec {
        padding-left: 0;
    }
    .rgt-border {
        border-right: none;
        border-bottom: 1px solid #959595;
    }
    section.novinky-top {
        padding: 50px 0;
    }
    .dropdown-toggle.active::before {
        display: none;
    }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
    .dropdown-submenu>a:after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
}

@media only screen and (max-width: 767px) {
    a.btn-menu {
        text-align: center;
    }
    ul.dropdown-menu.sub-menu.mob-sub {
        background: #1a94d3;
    }
    ul.dropdown-menu.sub-menu.mob-sub a {
        color: #ffffff;
    }
    ul.dropdown-menu.sub-menu.mob-sub li {
        border-bottom: 1px solid #fff;
    }
    .navbar-nav li a {
        display: table;
        width: 100%;
    }
    .banner-main {
        margin: 80px 16px 0;
    }
    a.banner-btn {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 20px;
        margin-top: 0;
    }
    .title h1 {
        font-size: 26px;
    }
    .title.jsmedistributo-title {
        margin-bottom: 0;
    }
    a.navbar-brand.mr-auto img {
        width: 150px;
    }
    .cont-details span {
        font-size: 20px;
    }
    .cont-details img {
        width: 80px;
    }
    .footer-menu h6 {
        margin-bottom: 20px;
        min-height: auto;
    }
    .footer-menu {
        text-align: center;
    }
    .col-md-2.pl-5 {
        padding: 0 !important;
    }
    .footer-top .col-md-2 {
        margin: 10px 0;
    }
    .social-footer {
        text-align: center;
        margin: 0 auto;
        display: table;
    }
    .social-footer ul {
        margin: 0;
        padding: 0;
    }
    .all-services .services-icons span {
        font-size: 11px;
    }
    .all-logo {
        margin: 50px 0 0;
    }
    section.klimax {
        padding: 50px 0 0;
    }
    .com-details {
        margin: 20px 0;
        text-align: left;
    }
    section.slider:after {
        display: none;
    }
    .poskytujeme-lft {
        padding: 0;
    }
    .nase-btn a {
        padding: 20px;
    }
    .toshiba-title h3 {
        padding-top: 0px;
    }
    .novinky-btn {
        float: left;
    }
    section.novinky-top {
        padding: 50px 0 0;
    }
}


/* ============End- Media Queries================ */